.wrapper
  = render "side-navi.html.haml"

  .main-section
    %h2 問い合わせ
    .main-section__form
      %h3 よくある質問
      .main-section__form--question
        Q1 どのようなAppですか？
      .main-section__form--answer
        回答内容は準備中です
      .main-section__form--question
        Q2 クレジットカードでの支払いは可能ですか？
      .main-section__form--answer
        回答内容は準備中です
      .main-section__form--question
        Q3 今後、追加したい機能はありますか？
      .main-section__form--answer
        回答内容は準備中です

  .moving-surfing
    = image_tag "common/moving-surfing.image.png", class: "moving-surfing--image"