.main-cotents {
  margin: 30px auto;
  height: 680px;
  width: 85%;
  box-sizing: border-box;
  display: flex;
  &__post-images {
    width: 55%;
    padding: 5px;
    height: 100%;
    box-sizing: inherit;
    &__drop-box {
      width: 100%;
      padding: 5px;
      height: 40%;
      box-sizing: inherit;
      h2 {
        font-size: 20px;
        margin-left: 15px;
        color: goldenrod;
      }
      &__select-image {
        width: 100%;
        padding: 5px;
        height: 90%;
        box-sizing: inherit;
        &--file_field {
          width: 100%;
          padding: 5px;
          background-color: gray;
          height: 100%;
          box-sizing: inherit;
        }
        &--submit {
          width: 120px;
          height: 50px;
          background-color: red;
          border-radius: 20px;
          box-sizing: inherit; 
          margin: 10px 0 0 490px;
          font-size: 16px;
          font-weight: bold;
          color: white;
        }
      }
    }
    &--notice {
      width: 100%;
      padding: 5px;
      height: 5%;
      box-sizing: inherit;
      p {
        font-size: 12px;
        margin: 2px 5px;
      }
    }
  }
  &__post-container {
    width: 45%;
    padding: 5px;
    height: 100%;
    box-sizing: inherit;
    &__title {
      width: 100%;
      padding: 5px;
      background-color: white;
      height: 15%;
      box-sizing: inherit;
      font-size: 20px;
      margin-left: 5px;
      color: goldenrod;
      &--form {
        width: 100%;
        padding: 2px 2px 2px 5px;
        background-color: white;
        height: 50%;
        box-sizing: inherit;
        border: 1px solid red;
        font-size: 15px;
      }
      &--form:focus {
        outline: 3px solid goldenrod;
      }
      p {
        font-size: 12px;
        margin: 3px 0 0 5px;
        color: black
      }
    }
    &__category {
      width: 100%;
      padding: 8px;
      background-color: white;
      height: 45%;
      margin-left: 5px;
      box-sizing: inherit;
      h2 {
        font-size: 20px;
        margin-left: 5px;
        color: goldenrod;
      }
      p {
        font-size: 15px;
        margin-left: 5px;
      }
      &--option {
        width: 100%;
        padding: 5px;
        height: 80%;
        box-sizing: inherit;
        border: 1px solid red;
        select:focus {
          outline: 2px solid goldenrod;
        }
        #post_category {
          width: 495px;
          height: 40px;
        }
      }
    }
    &__comment {
      width: 100%;
      padding: 5px;
      background-color: white;
      height: 35%;
      box-sizing: inherit;
      font-size: 20px;
      margin-left: 5px;
      color: goldenrod;
      &--form {
        width: 100%;
        padding: 5px;
        height: 85%;
        box-sizing: inherit;
        border: 1px solid red;
        font-size: 15px;
      }
      &--form:focus {
        outline: 3px solid goldenrod ;
      }
    }
  }
}