// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #F5F5F5;
  .main-content {
    box-sizing: border-box;
    &__ripple {
      background-image: url("common/top-page.image.png");
      background-size: cover;
      width: 100%;
      height: 100vh;
    }
    &__app-title {
      position: absolute;
      top: 50px;
      right: 50px;
      span {
        color: rgb(226, 151, 37);
        font-weight: bold;
        font-size: 50px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
      span:before {
        content:attr(data-name);
        width: 65%;
        color: rgb(226, 207, 33);
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}